* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 2px dashed rgb(230, 19, 19);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d3dcd9;
}

.container {
    display: flex;
    width: 1152px;
    height: 650px;
    background-color: #e6ddd4 ;

}

.box-preview, .box-msg{
    display: flex;
    flex-direction: column;
}
.box-preview{
  flex-basis: 40%;
  background-color: #ffffff ;

}
.box-msg{
    flex-basis: 60%;
   

}
.header__box-msg, 
.header__box-pre {
    width: 100%;
    height: 45px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__box-msg{
    width: 100%;
    height: 70px;
    background-color: #f4eeea;
    display: flex;
    align-items: center;
}
.footer__box-msg .icon-wrapper{
    width: 50px;
}
.footer__box-msg .box-type-msg .add-msg , .footer__box-msg .box-type-msg{
 width: 100%;
}
.footer__box-msg .box-type-msg .add-msg{
    border-radius: 10px;
    height: 55px;
    border: none;
  }
.main__bos-msg{
    flex-grow: 1;
}